
# Ignore all external repos by default
external_repos/*
# Whitelist the README
!external_repos/README.md
# Whitelist the keep file if it exists
!external_repos/.keep


# System and build artifacts
.DS_Store
**/.DS_Store
site/
__pycache__/
*.egg-info/

